<!DOCTYPE html>
<html lang="it" class="overflow-y-scroll">
   <head>
      <meta charset="utf-8" />
      <title>Formigine a Domicilio</title>
      <meta
         property="og:url"
         content="https://formiginedomicilio.netlify.com"
      />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Formgine a Domicilio" />
      <meta
         property="og:description"
         content="Tutte le attività che effettuano consegne a domicilio nel comune di Formigine"
      />
      <meta property="og:image" content="/assets/og_formiginedomicilio3.jpg" />
      <meta
         name="description"
         content="Tutte le aziende che effettuano consegne a domicilio nel comune di Formigine"
      />
      <link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/assets/icons/android-192x192.png" sizes="192x192">
      <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon-180x180.png" sizes="180x180">
      <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
      <meta name="application-name" content="&nbsp;" />
      <meta name="msapplication-TileColor" content="#FFFFFF" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <% preact.headEnd %>
      <link
         rel="stylesheet"
         type="text/css"
         charset="UTF-8"
         href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
      />
      <link
         rel="stylesheet"
         type="text/css"
         href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
      />
   </head>
   <body style="overflow: var(--popup-visible, initial);">
      <% preact.bodyEnd %>
   </body>
</html>
