<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Formigine a Domicilio</title>
      <meta
         name="description"
         content="Tutte le aziende che effettuano consegne a domicilio nel comune di Formigine"
      />
	  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
      <link
         rel="apple-touch-icon"
         sizes="180x180"
         href="/apple-touch-icon.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="32x32"
         href="/favicon-32x32.png"
      />
      <link
         rel="icon"
         type="image/png"
         sizes="16x16"
         href="/favicon-16x16.png"
      />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta
         property="og:url"
         content="https://formiginedomicilio.netlify.com"
      />
      <meta property="og:type" content="website" />
      <meta property="og:title" content="Formgine a Domicilio" />
      <meta
         property="og:description"
         content="Tutte le aziende che effettuano consegne a domicilio nel comune di Formigine"
      />
      <meta property="og:image" content="/assets/og_formiginedomicilio.jpg" />
      <% preact.headEnd %>
   </head>
   <body style="overflow: var(--popup-visible, initial);">
      <% preact.bodyEnd %>
   </body>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<% process.env.GA_TRACKING_ID %>"
   ></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
         dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", process.env.GA_TRACKING_ID);
   </script>
</html>
